p {
	color: black;
	border: 10px;
	font-size: 60px;
	text-align: center;
}
h1 {
	font-size: 65px;
	color: black;
	top: 400px;
	border: 5px solid red hide;
}
h2 {
	color: #FF66CC;
}
h3 {
	color: #FFFF00;
}
div {
	margin: 0 auto;
	text-align: center;
}
.reload {
	color: #6495ED;
	font-family: 'Amatic SC', cursive;
	font-size: 50px;
	height: 200px;
	width: 200px;
	
}
	
.closeb1 {
  margin: 0 auto;
  height: 100px;
  width: auto;
  padding: 100px;
  top: 500px; left: 300px;
}
.closeb2 {
  margin: 0 auto;
  height: 100px;
  width: auto;
  padding: 100px;
  top: 500px; left: 600px; 
}
.closeb3 {
  margin: 0 auto;
  height: 100px;
  width: auto;
  padding: 100px;
  top: 500px; left: 900px; 
}
.decor {
  display: block;
  height: 200px;
  width: auto;
  position: absolute; top: 0px; right: 0px;
  }
.decor1 {
  display: block;
  position: absolute; top: 0px; right: 200px;
}  
html {
	font-family: 'Amatic SC', cursive;
}
body {
    background: pink;
	border: 5px solid red hide;
	margin: 0 auto;
	padding: 0;
}
